<h1><%= @account.name %></h1>

<h2>Description:</h2>
<p><%= @account.description %></p>

<div>
    <ul class="account-actions">
        <li><%= link_to "Back", accounts_path %></li>
        <li><%= link_to "Edit", edit_account_path(@account) %></li>
        <li><%= link_to "Delete", account_path(@account), data: {
            confirm: "Are you sure?"}, method: :delete %></li>
    </ul>
</div>

